:root {
    --branco-princiapal: #ffffff;
    --cinza--secundario: #c0c0c0;
    --botao--azul:#167bf7;
    --cor-de--fundo:#00030c;
}

body{
    background-color: var(--cor-de--fundo);
color: var(--branco-princiapal);
}

*{
    margin: 0;
    padding: 0;
}

.principal {
background-image: url("img/imagem-de-papel-de-parede-de-fundo-de-frutas-com-mistura-de-fotos_665888-2901.png");
background-repeat:no-repeat;
background-size: 2000px;

}
.container{
height:100vh;
}